# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.cpp
webapp/assets.cpp



# autoconf
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
libtool

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
lib*.a
lib*.la
lib*.so
lib*.so.*
*.Plo
.deps/*.Plo

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Backups
*~

stamp-h1